@{
    ViewData["Title"] = "thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <p> Mã Sinh Viên:231090068</p>
    <p> Họ và tên: Nguyễn Văn Minh</p>
    <p>Email:vanminh@gmail.com</p>
    <p> Điện Thoại :0387853601</p>
    <p> Lớp :K23CNT2.Net</p>
</div>
