@{
    ViewData["Title"] = "Thông Tin Sinh Viên";
}

<div class="alert alert-danger">
    <h1>Thông tin sinh viên</h1>
    <hr />
    <p> Mã Sinh Viên:2310900068</p>
    <p> Họ và tên :Nguyễn Văn Minh</p>
    <p> Lớp:K23CNT2</p>
    <p>Email:vanminhham0896745231@gmail.com</p>
    <p>Điện thoại:0387853601 </p>

</div>
