﻿@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Mã Sinh Viên:2310900068</p>
    <p>Mã Sinh Viên: Nguyễn Văn Minh</p>
    <p>Ngày Sinh:03/07/2005</p>
    <p>Email:vanminhham0896745231@gmail.com</p>
    <p>Điện thoại :0387853601</p>
    <p>Lớp :K23CNTT2</p>

</div>